aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
base58==2.1.1
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
fastapi==0.115.12
frozenlist==1.6.0
h11==0.16.0
idna==3.10
kademlia==2.2.3
logger==1.4
multidict==6.4.3
propcache==0.3.1
pydantic==2.11.3
pydantic_core==2.33.1
PyExecJS==1.5.1
requests==2.32.3
rocksdict==0.3.26
rpcudp==5.0.1
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
typing-inspection==0.4.0
typing_extensions==4.13.2
u-msgpack-python==2.8.0
urllib3==2.4.0
uvicorn==0.34.2
wsproto==1.2.0
yarl==1.20.0
